<footer class="footer">
  <script src="{{ "/assets/js/custom.js" | relative_url }}"></script>
  <div class="container">
    <span class="copyright">
      MACAN INDUSTRIA E COMÉRCIO DE ALUMINIO LTDA 2018 © Todos os direitos reservados <br>
      Rua Beira Rio, 302 -  Lote 08 - Bairro dos Fontes - CEP: 07432-410 - Arujá / SP
    </span>
    <span class="develop">
      Developed by: Luan Messias
    </span>
    <a href="#header">
       <img class="img-fluid" src="{{ "/assets/img/return.png" | relative_url }}" alt="">
    </a>
  </div>
</footer>