<header id="me-header" class="container-fluid ">
  <div class="container d-flex justify-content-between align-items-center">
    <a id="logo" href="{{ site.baseurl }}/" class="">
      <img class="img-fluid" src="{{ "/assets/img/logo.png" | relative_url }}" alt="">
    </a>

    <div class="headerRight align-items-end d-md-flex align-self-end flex-column">

      <div class="search search-desktop d-none d-md-block  align-self-end">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-alt-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
          </span>
        </div>
      </div>

      
  
      {% include menu.html %}

    </div>

  </div>
</header>