%internal-titles{
    .internal-titles{
        position: relative;
        @include bgimg("bg_middle.jpg");
        background-size: cover;
        background-attachment: fixed;
        padding: 30px 0px;
        h1{
            @include fonte($font-two, normal, 40px, $color-white);
        }
        @media (min-width: $res-md) {
            
        }

        @media (max-width: $res-sm) { 
           
        }
    }
}

%filter-bar{
    .filtro-perfis{
        @include box-sizing();
        background: $color-gray-dark;
        padding: 10px;
        select{
            @include fonte($font-one, 400, 12px, #FFF);
            background: transparent;
            border: 1px solid #FFF;
            
        }
    }
}

%perfis{
    .perfis-result{
        .container{
            box-sizing: border-box;
            padding: 10px;
        }
    }
}


// PAGE - CALLS
// ====================================================================
body{
    @extend %internal-titles;
    @extend %filter-bar;
    @extend %perfis;
}