---
layout: default
---

<div class="container-fluid p-0 app" ng-controller="macanController">

    <div class="container-fluid internal-titles">
        <div class="container">
            <h1>Perfis de Aluminio</h1>
        </div>
    </div>

    <div class="container-fluid filtro-perfis">
        <div class="container">
            <select name="categorie" id="categorie" ng-model="categorie">
                <option value="">Ordenar por categoria</option>
                <option value="{(categorie.id)}" ng-repeat="categorie in categories">{(categorie.desc)}</option>
            </select>

            <span class="searchbar">
                    <input type="text" class="search" ng-model="searchString" placeholder="Buscar perfil" />
            </span>

            <a type="button" name="" id="" class="btn btn-primary btn-pdf" href="/assets/download/catalogo.pdf" download> <i class="fas fa-file-pdf"></i> Baixar Catálogo</a>
        </div>
    </div>

    <div class="container-fluid perfis-result">
        <div class="d-flex flex-row justify-content-around my-flex-container flex-wrap container cards">
            <div class="col-card col-xs-12 col-sm-6 col-md-4 col-xl-4 repeated-item" ng-repeat="tool in tools | filter:{cat:categorie} |  searchFor:searchString | limitTo: quantity">
                <div class="card">
                    <div class="card-header">{(tool.cod)} <button type="button" class="btn card-zoom" ng-click="openDlg(tool)"><i class="fas fa-search"></i></i></button></div>
                    <div class="card-body">
                        <div class="card-img" style="background-image: url('/assets/img/perfis/{(tool.cod)}.jpg')">
                            
                        </div>

                        <div class="card-code">
                            <div class="card-code-block">
                                <div class="info-title">Código</div>
                                <div class="info-desc">{(tool.desc)}</div>
                            </div>
                        </div>
                        
                        <div class="card-info">
                            <div class="card-info-block">
                                <div class="info-title">peso / Metro</div>
                                <div class="info-desc">{(tool.peso_metro)}</div>
                            </div>
                        
                            <div class="card-info-block">
                                <div class="info-title">Medida A</div>
                                <div class="info-desc">{(tool.medida_a)}</div>
                            </div>
                        
                            <div class="card-info-block">
                                <div class="info-title">Medida B</div>
                                <div class="info-desc">{(tool.medida_b)}</div>
                            </div>
                        
                            <div class="card-info-block">
                                <div class="info-title">Medida E</div>
                                <div class="info-desc">{(tool.medida_e)}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loadMore" ng-click="loadMore()">
                <div></div>
                <span>Carregar mais</span>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" ng-bind="tool_code"></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body card">
               <div class="modal-card-img"></div>
                <div class="card-code">
                    <div class="card-code-block">
                        <div class="info-title">Código</div>
                        <div class="info-desc" ng-bind="tool_desc"></div>
                    </div>
                </div>

                <div class="card-info">
                    <div class="card-info-block">
                        <div class="info-title">peso / Metro</div>
                        <div class="info-desc" ng-bind="tool_peso_metro"></div>
                    </div>

                    <div class="card-info-block">
                        <div class="info-title">Medida A</div>
                        <div class="info-desc" ng-bind="tool_medida_a"></div>
                    </div>

                    <div class="card-info-block">
                        <div class="info-title">Medida B</div>
                        <div class="info-desc" ng-bind="tool_medida_b"></div>
                    </div>

                    <div class="card-info-block">
                        <div class="info-title">Medida E</div>
                        <div class="info-desc" ng-bind="tool_medida_e"></div>
                    </div>
                </div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
            
          </div>
        </div>
      </div>

</div>

