---
layout: default
---

<div class="container-fluid p-0 app" ng-controller="macanController">

    <div class="container-fluid internal-titles">
        <div class="container">
            <h1>Perfis de Aluminio</h1>
        </div>
    </div>

    <div class="container-fluid filtro-perfis">
        <div class="container">
            <select name="categoria" id="categoria">
                <option value="">Selecione uma categoria</option>

            </select>
            <select class="sortBy" ng-model="propName">
                <option value="linha_geral">Popularity</option>
                <option value="linha_geral">Date</option>
                <option value="linha_geral">Comments</option>
            </select>

            <select class="orderBy" ng-model="reverse">
                <option value="true">Lower → Higher</option>
                <option value="">Higher → Lower</option>
            </select>

            <input type="text" ng-model="favMeat" placeholder="enter you fav meat" />
        </div>
    </div>

    <div class="container-fluid perfis-result">
        <div class="d-flex flex-row justify-content-around my-flex-container flex-wrap container cards">

            <div class="col-card col-xs-12 col-sm-6 col-md-3 col-xl-4" ng-repeat="perfil in perfis">
                <div class="card">
                    <div class="card-header">{(perfil.cod)}</div>
                    <div class="card-body">
                        <div class="card-img"></div>
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">
                            
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>